.cart{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.91); 
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.91);

    position: absolute;
    right: 20px;
    top: 55px;
    z-index: 9999;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    overflow: scroll;
    height: 300px;
    h1{
        font-size: 20px;
        text-transform: uppercase;
        color: lightgrey;
    }

    .item{
        display: flex;
        align-items: center;
        gap: 10px;

        img{
            width: 80px;
            height: 100PX;
            object-fit: cover;
        }
        .details{
            h2{
                font-size: 18px;
                font-size: 500;

              
            }
            p{ 
                color: gray;
                margin-bottom: 10px;
                font-size: 14px;
            }
            .price{
                color: green;
            }
        }
        .delet{
            font-size: 25px;
            background-color: rgba(255, 0, 0, 0.664);
            color: rgb(255, 255, 255);
            cursor: pointer !important;
            border-radius: 50%;
            padding: 3px;

            &:hover{
                background-color: rgb(255, 0, 0);
            }
        }
    }
    .total{
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-weight: 800;
        text-transform: uppercase;

    }
    button{
        font-size: 15px;
        font-weight: bold;
        background-color: green;
        padding: 5px;
        color: white;
        cursor: pointer;
        border-radius: 2px;
    }

    .reset{
        font-size: 15px;
        color: red;
        font-weight: 500;
        cursor: pointer;
        &:hover{
            border-bottom: 1px solid green;
            width: max-content;
            cursor: pointer;
           
        }

    }
}